# Python
venv/
.venv/
__pycache__/
*.pyc

# Node.js
node_modules/
*/node_modules/
.next/
build/
dist/

# OS files
.DS_Store

# Local Terraform directories
.terraform/
infra/.terraform/

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Terraform plan files
*.tfplan